@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import "./normalize.css";

:root {
  --background-color: #23272E;
  --text-color: #fff;
  --navbar-color: #15181C;
  --accent-color: #41b883;
  --danger-color: #f03c4b;
  --warning-color: #E5C07B;
  --info-color: #61AFEF;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}